<%= form_with(model: thing, local: true) do |form| %>
  <% if thing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(thing.errors.count, "error") %> prohibited this thing from being saved:</h2>

      <ul>
      <% thing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :thing_name %>
  </div>

  <div class="field">
    <%= form.label :proprietary_name %>
    <%= form.text_field :proprietary_name, id: :thing_proprietary_name %>
  </div>

  <div class="field">
    <%= form.label :string %>
    <%= form.text_field :string, id: :thing_string %>
  </div>

  <div class="field">
    <%= form.label :proprietary_id %>
    <%= form.number_field :proprietary_id, id: :thing_proprietary_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
